@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:linear-gradient(to bottom right,rgba(0,0,0,0.9),rgba(0,0,0,0.4)),  url("/bg_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}



@layer components{
    .bg-glass{
        @apply  bg-green-700 rounded-md bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-0 border border-gray-100;
    }
}