@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:linear-gradient(to bottom right,rgba(0,0,0,0.9),rgba(0,0,0,0.4)),  url("/bg_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}


@layer components{
    .bg-glass{
        /* @apply  bg-green-700 rounded-md bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-0 border border-gray-100; */
       @apply   bg-green-900 rounded-md bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-30;
    }
}